---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import type { ImageMetadata } from 'astro';

interface Props {
	title?: string;
	description?: string;
	structuredData?: Record<string, unknown> | Array<Record<string, unknown>>;
	image?: ImageMetadata | string;
}

const { title = SITE_TITLE, description = SITE_DESCRIPTION, structuredData, image } = Astro.props;
const structuredDataJson = structuredData ? JSON.stringify(structuredData) : '';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={title} description={description} image={image} />
		{structuredDataJson && <script type="application/ld+json" set:html={structuredDataJson}></script>}
	</head>
	<body>
		<Header />
		<main>
			<slot />
		</main>
		<Footer />
	</body>
</html>
